.logo{
    width: 100;
    max-width: 300px;
    float: left;
}
#logo{
    width: 150px;
}


nav{
    width: 100%;
   /* max-width: 1300px;*/
}

nav ul{
    height: 30px;
    padding: 60px 0px;
    background-color: black;

}

nav ul li{
    display: inline;
    padding: 20px 25px;
    list-style: none;
}
nav ul li:hover, nav ul li.active{
    background-color: rgb(8, 251, 8);
}

nav ul li:hover a{
  color: rgb(5, 5, 5);
}
nav ul li a{
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;

}
/* END HEADER*/

#banner{
    width: 100%;
    height: 600px;
    background-image: url("../images/banner.jpg");
    /*background-image: url("../images/banner.jpg");
    1900px x 600px */
    

}

#banner h1{
    color: white;
    /*text-align: center;*/
    position: absolute;
    left: 45%;
    top: 40%;
    
}

/*h1{

    background-color: aqua;
    text-align: center;
}*/

/* ENS BANNER */

.container{
    margin: 20px 0px;
    padding: 10px 30px;
}

#foto{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
#foto img.foto{
    display: inline-block;
    margin: 20px;
}