 body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;

 }

 nav {
     background-color: rgb(36, 36, 39);
     height: 36px;
     /* width: 100%;
   max-width: 1300px;*/
 }

 nav>ul {
     margin: 0;
     padding: 0;
     /*  height: 30px;
     padding: 60px 0px 60px 60px;

     background-color: rgba(0, 0, 0, 0.097);*/

 }

 nav>ul>li {
     text-transform: uppercase;
     display: inline;
     float: left;
     padding: 7px 5px 10px 5px;
     /*list-style: none;*/
 }

 nav>ul>li:hover,
 nav>ul>li.active {
     background-color: rgb(8, 251, 8);
 }

 nav>ul>li.active>a {
     color: white;
 }

 nav>ul>li>a {

     color: #ffffff;
     text-decoration: none;
     list-style: none;
     padding: 15px 20px;


 }

 nav>ul>li>a:hover {
     color: rgb(5, 5, 5);
 }




 /*=============== submeniu============*/

 ul.submeniu {
     text-transform: uppercase;
     display: none;
     list-style: none;
     margin: 0;
     padding: 0;
 }

 nav>ul>li:hover>ul.submeniu {
     display: block;
     background-color: rgb(63, 63, 124);
     clear: both;
     margin-top: 10px;
     position: absolute;
     width: 160px;
 }

 ul.submeniu>li>a {
     padding: 15px 20px;
     text-decoration: none;
 }

 ul.submeniu>li:hover {
     background-color: red;
     color: #ffffff;
 }

 nav>ul>li:hover>ul.submeniu>li {
     padding: 7px 5px 7px 5px;
 }

 nav ul li:hover ul.submeniu li a {
     padding: 7px 5px;
     text-decoration: none;
     color: #ffffff;
 }

 ul.submeniu li a {
     padding: 7px 5px;
     text-decoration: none;
 }