#container{
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
}
#container h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid rgb(6, 63, 253);
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
#myform{
    background-color: rgba(255, 228, 196, 0.384);
    padding: 25px;
    text-align: center;
}

#myform div{
    margin: 15px 0;
}
#myform label{
    display: inline-block;
    width: 150px;
    font-size: 20px;
    text-align: left;
}
#myform input{
    display: inline-block;
    width: 200px;
    padding: 15px;
}
#check label{
    display: inline-block;
    width: 300px;
}
#check input{
    display: inline-block;
    width: 20px;
    padding: 5px;
}
#sub{
    background-color: rgb(80, 182, 225);
    color: #ffffff;
    font-size: 20px;
}
